/* Fonts */
/* 

    font-family: 'DM Serif Display', serif;

    font-family: 'Literata', serif;

    font-family: 'Raleway', sans-serif;

 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #3A1C71, #D76D77, #FFAF7B 100%) no-repeat;
}

html {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: #555

}

/* All Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Literata', serif;
}

/* ************** */
/* LANDING */
/* ************** */

.landing {
    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('assets/images/Jamaica-Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 1px 1px #FFF;
    
    min-height: 100vh;
}


.landing h1, .landing h3 {
    font-family: 'Literata', serif;
    text-shadow: 2px 2px rgb(105, 104, 104);
    margin-bottom: 40px;
}

.landing h1 {
    font-size: 60px;
    margin-bottom: 10px;
    cursor: default;
}

.landing #inspired:hover {
    color: rgb(72, 45, 122);
    transition: all 0.8s ease-in-out;
}

.landing #creative:hover {
    color: #D76D77;
    transition: all 0.8s ease-in-out;
}

.landing #visual:hover {
    color: #FFAF7B;
    transition: all 0.8s ease-in-out;
}


@media(max-width: 800px) {
    .landing {
        min-height: 600px;
    }

    .landing h1 {
        font-size:48px;
        padding: 10px;
    }
    
    .landing h3 {
        font-size: 28px;
        margin-bottom: 20px;
        padding: 3px;
    }
}

/* ************** */
/* ABOUT */
/* ************** */

h3.title {
    color: #FFF;
    text-transform: capitalize;
    font-size: 42px;
}

.about {
    padding: 15px;
    margin-bottom: 20px;
}

.about #two-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-portrait {
    border: solid 2px #FFF;
    background-color: #FFF;
}

.about-bio {
    width: 80%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;
}

hr {
    width: 250px;
    height: 2px;
    background-color: #FFF;
    border: 0;
    margin: 4px auto;
}

@media(max-width: 800px) {
    .about #two-columns {
        flex-direction: column;
        margin-top: 30px;
    }

    .about-bio {
        margin-top: 20px;
        line-height: 1.5;
        text-align: left;
        
    }
}

/* ************** */
/* FOOTER */
/* ************** */

footer {
    color: white;
    text-align: center;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

footer ul li a:link {
    color: #FFF
}

.fa-twitter:hover, .fa-dribbble:hover, .fa-instagram:hover, .fa-medium-m:hover {
    color: rgb(72, 45, 122);
    transition: all 0.2s;
}

footer ul li a:visited {
    color: #FFF
}

@media(max-width: 800px) {
    footer {
        padding: 80px 15px;
    }
}