/* Fonts */
/* 

    font-family: 'DM Serif Display', serif;

    font-family: 'Literata', serif;

    font-family: 'Raleway', sans-serif;

 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #3A1C71, #D76D77, #FFAF7B 100%) no-repeat;
}

html {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: #555

}

/* All Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Literata', serif;
}

/* ************** */
/* LANDING */
/* ************** */
.landing {
    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('assets/images/Jamaica-Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
}


.landing h1, .landing h3 {
    font-family: 'Literata', serif;
    text-shadow: 2px 2px rgb(105, 104, 104);
    margin-bottom: 40px;
}

.landing h1 {
    font-size: 60px;
    margin-bottom: 10px;
}


@media(max-width: 800px) {
    .landing {
        min-height: 600px;
    }

    .landing h1 {
        font-size:48px;
        padding: 10px;
    }
    
    .landing h3 {
        font-size: 28px;
        margin-bottom: 20px;
        padding: 3px;
    }
}

/* ************** */
/* FOOTER */
/* ************** */

footer {
    color: white;
    text-align: center;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

footer ul li a:link {
    color: #FFF
}

.fa-twitter:hover, .fa-dribbble:hover, .fa-instagram:hover, .fa-medium-m:hover {
    color: #3A1C71;
    transition: all 0.2s;
}

footer ul li a:visited {
    color: #FFF
}

@media(max-width: 800px) {
    footer {
        padding: 80px 15px;
    }
}